<%- include('_header.ejs') -%>
<div class="card-body">
    <form action="/changeOwner" method="POST">
        <div class="form-group">
            <label for="InputCarNumber">Unique Key</label>
            <div class="input-group mb-3">
                <select class="custom-select" name="key" id="InputKey" onchange="getSelectValue(this);">
                    <option selected>Select Key...</option>
                    <% for(i = 0; i < data.length; i++) { %>
                        <option value="<%= data[i].Key %>"><%= data[i].Key %></option>
                    <% } %>
                </select>
            </div>
        </div>    
        <div class="form-group">
            <label for="InputNewOwner">New Owner</label>
            <input type="text" class="form-control" name="owner" id="InputNewOwner" placeholder="New Owner">
        </div>
        <button type="submit" class="btn btn-danger">Change</button>
    </form>
</div>
<%- include('_footer.ejs') -%>
